@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>
<hr />
<div>
    <p> This Notice on the confidential treatment of personal data of individuals contains mandatory information on events, processing and storage of personal data for users and travel agents, as well as on the rights of these persons in relation to the protection of other personal data. </p>
</div>

