@model TourismPlatform.Web.ViewModels.Offerts.EditOffertFormModel
@{ 
    ViewData["Title"] = "Редактиране на оферта";
    var categoryItems = this.Model.CategoryItems.Select(x => new SelectListItem(x.Value, x.Key));
    var transportItems = this.Model.TransportItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" id="editForm">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricePerPerson"></label>
        <input asp-for="PricePerPerson" class="form-control" />
        <span asp-validation-for="PricePerPerson" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceIncludes"></label>
        <textarea asp-for="PriceIncludes" class="form-control"></textarea>
        <span asp-validation-for="PriceIncludes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceDoesNotInclude"></label>
        <textarea asp-for="PriceDoesNotInclude" class="form-control"></textarea>
        <span asp-validation-for="PriceDoesNotInclude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TransportId"></label>
        <select asp-for="TransportId" class="form-control" asp-items="transportItems"></select>
        <span asp-validation-for="TransportId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
</form>

<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Запази промените</button>


<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Потвърждавате ли направени промени?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Запази промените</button>
            </div>
        </div>
    </div>
</div>